$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4286f4;
$font-color: #f442a7;
$black: #000;

body {
  background-color: $background-color;
  color: $font-color;
}

.board {
    font-size: 250%;
    font-weight: bold;
    margin: auto;
}

.board td {
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    // border: 10px solid $black;
}

.board td:hover {
    background-color: #Fff;
}

.modalz {
  float: left;
  margin: 0 40px;
}
.dropdown {
  float: left;
  margin: 0 40px;
}
h1, h2, h3, p, #newgame, #playhistory {
text-align: center;
}
h2 {
background-color: yellow;
}

h1, .signinreminder {
  color: $black;
  font-weight: bold;
}
#new-game {
padding: 10px;
color: $black;
background-color: pink;
}
.scoreboard {
  text-align: center;
  margin: auto;
}
.stats {
  margin: 10px;
  padding: 10px;
  border: 1px solid $black;
}

table {
  clear: both;
}

#message {
  font-size: 10px;
}

#zero {
  border-right: 10px solid $black;
  border-bottom: 10px solid $black;
}
#one {
  border-right: 10px solid $black;
  border-bottom: 10px solid $black;
  border-left: 10px solid $black;
}
#two {
  border-bottom: 10px solid $black;
  border-left: 10px solid $black;
}
#three {
  border-top: 10px solid $black;
  border-right: 10px solid $black;
  border-bottom: 10px solid $black;
}
#four {
  border: 10px solid $black;
}
#five {
  border-top: 10px solid $black;
  border-left: 10px solid $black;
  border-bottom: 10px solid $black;
}
#six {
  border-right: 10px solid $black;
  border-top: 10px solid $black;
}
#seven {
  border-right: 10px solid $black;
  border-top: 10px solid $black;
  border-left: 10px solid $black;
}
#eight {
  border-top: 10px solid $black;
  border-left: 10px solid $black;
}
