$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$black: #000;

body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: 1px solid $black;
}

#one {
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
}
#two {
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
  border-left: 1px solid $black;
}
#three {
  border-bottom: 1px solid $black;
  border-left: 1px solid $black;
}
#four {
  border-top: 1px solid $black;
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
}
#five {
  border: 1px solid $black;
}
#six {
  border-top: 1px solid $black;
  border-left: 1px solid $black;
  border-bottom: 1px solid $black;
}
#seven {
  border-right: 1px solid $black;
  border-top: 1px solid $black;
}
#eight {
  border-right: 1px solid $black;
  border-top: 1px solid $black;
  border-left: 1px solid $black;
}
#three {
  border-top: 1px solid $black;
  border-left: 1px solid $black;
}
